
SHELL=/usr/bin/zsh

# Paths first
export PATH="$PATH:$HOME/bin"
export PATH="$PATH:$HOME/go/bin"
{{ if eq .osid "darwin" }}
export PATH="$PATH:/usr/local/go/bin"
export PATH="$PATH:/opt/nvim-linux64/bin"
{{ end }}

setopt COMPLETE_IN_WORD
autoload -U compinit
compinit

# pyenv must be loaded before the zsh plugin
export PYENV_ROOT="$HOME/.pyenv"
export PATH="$PYENV_ROOT/bin:$PATH"
eval "$(pyenv init --path)"

{{ if eq .osid "darwin" }}
# TODO: Figure out what this is.
{{ else if eq .osid "linux-debian" }}
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
{{ end }}

# zsh
export ZSH="$HOME/.oh-my-zsh"
ZSH_THEME="eastwood"

{{ if eq .osid "linux-bluefin" }}
plugins=(git rust pyenv tmux brew)
{{ else }}
plugins=(git 1password rust pyenv tmux brew)
{{ end }}

source $ZSH/oh-my-zsh.sh

# Git aliases
alias gmain='git checkout main && git pull'
alias gco='git checkout'
alias gnb='git checkout -b'

# Docker aliases
alias dlogs='docker logs -f'

# Grep
function rgrep {
	grep -nrs $1 . | grep -v vendor | grep -v target | grep -vF ".git"
}

export EDITOR='nvim'

{{ if eq .osid "linux-bluefin" }}
eval "$(starship init zsh)"

### bling.sh source start
test -f /usr/share/ublue-os/bluefin-cli/bling.sh && source /usr/share/ublue-os/bluefin-cli/bling.sh
### bling.sh source end
{{ else }}
source <(fzf --zsh)
{{ end }}
