#!/bin/sh
set -e

if command -v brew >/dev/null 2>&1 ; then
  echo "brew already installed"
else
  /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
fi

brew install neovim htop ripgrep pyenv nvtop tmux jq jo fzf bat npm node wget fd atuin starship direnv eza tealdeer ugrep zoxide
